<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/css/style.css" />

    <title>Document</title>
  </head>
  <body>
    <section class="projects">
      <h2 class="projects-title">Stuff I have been working on</h2>
      <div class="projects-container">
        <div class="project">
          <div class="project-img"></div>
          <div class="project-desc">
            <p class="project-title">Dasgame</p>
            <p class="project-sub-title">Learn German words fast and easy</p>
          </div>
        </div>
      </div>
      <button class="projects-button">
        lets continue <span class="projects-button-array">&rarr;</span>
      </button>
    </section>

    <script></script>
  </body>
</html>
