<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/wedding.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Tangerine:400,700"
      rel="stylesheet"
    />

    <title>A & I Wedding</title>
  </head>
  <body>
    <video autoplay muted loop id="myVideo">
      <source src="/video/bokeh1.mp4" type="video/mp4" />
    </video>

    <section class="container">
      <div class="invitation">
        <h1>
          Tervetuloa <br />
          Artturin ja Ilonan hääbileisin
        </h1>
        <p>
          Sanomme toisillemme tahdon 17.5.2019 ja juhlistamme avioliiton alkua
          ystävien kesken lauantaina 18.5.
        </p>
        <p>
          Juhlat alkavat 18.5. kello 16 Huutoniemellä osoitteessa
          <br />Kuninkaantie 96 Vaasa
        </p>

        <form class="form" autocomplete="off">
          <p>
            <strong
              >Vahvistathan tulemisesi 10.5. mennessä alla olevan lomakkeen
              kautta</strong
            >
          </p>
          <input
            class="decoration"
            type="text"
            name="name"
            placeholder="Nimi"
          />
          <input class="decoration-submit" type="submit" value="Lähetä" />
        </form>
      </div>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.12/handlebars.min.js"></script>
    <script>
      let isAlreadyPressed = false;
      document.querySelector(".form").addEventListener("submit", e => {
        let name = document.querySelector(".decoration");

        e.preventDefault();
        if (name.value === "") return;
        if (isAlreadyPressed === false) {
          isAlreadyPressed = true;
        } else {
          return;
        }

        fetch("/submit", {
          method: "POST",
          cache: "no-cache",
          headers: {
            "Content-Type": "application/json"
          },
          body: JSON.stringify({ name: name.value })
        })
          .then(response => {
            return response.json();
          })
          .then(result => {
            document.querySelector(".invitation").style.opacity = "0";

            setTimeout(() => {
              document.querySelector(".invitation").style.display = "none";
              let title = document.createElement("h1");
              let text = document.createTextNode(
                "Tervetuloa " + result.name.split(" ")[0]
              );
              let para = document.createElement("p");
              let paraText = document.createTextNode("Nähdään 18.5. kello 16!");
              title.className = "success";

              title.appendChild(text);
              para.appendChild(paraText);

              document.querySelector(".container").append(title);
              document.querySelector(".container").append(para);
            }, 2000);
          })
          .catch(err => console.log(err));
      });
    </script>
  </body>
</html>
