@media only screen and (max-width: 820px) {
  /*Front */
  .front-text {
    font-size: 2.4rem;
  }

  .front-text p {
    width: 100%;
    text-align: center;
    line-height: 1.4;
  }
  .front-text .front-skills {
    width: auto;
    position: static;
    left: 0px;
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
  }

  .front-skills-span {
    width: 100%;
    text-align: center;
    line-height: 1.4;
  }

  /*projects */

  .projects {
    height: auto;
  }
  .projects-title {
    font-size: 3rem;
  }

  .projects-container {
    margin-left: 0px;
  }

  .project:last-child {
    margin-bottom: 60px;
  }
  /*skills */
  .skills {
    height: auto;
  }
  .skills-table-button {
    padding: 10px;
  }

  .skills-table {
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    margin-bottom: 30px;
  }

  .skills-table .item {
    font-size: 1.1rem;
  }

  .skills-mobile {
    display: block;
  }

  .level-4 {
    display: none;
  }
  .mobile-remove {
    display: none;
    background-color: green;
    color: green;
  }

  /*about */
  .about {
    height: auto;
  }

  .about-me {
    width: 100%;
    margin-top: 30px;
  }

  .about-line-container {
    width: 90%;
    height: 1px;
    margin: 60px auto;

    background-color: black;
  }

  .about-form {
    width: 90%;
    margin: 0 auto;
  }

  form {
    width: 90%;
  }

  .about-form form input {
    width: 100%;
  }
  .form-message {
    width: 100%;
  }
}

@media only screen and (max-width: 550px) {
  body {
  }
  /*Front */
  .front-item {
    font-size: 1.8rem;
  }
  .front-text p {
    line-height: 1.4;
  }

  .front-span-title {
  }

  /*project */
  .projects-title {
    font-size: 1.8rem;
    padding-top: 30px;
    padding-left: 15px;
    padding-bottom: 30px;
  }

  .project-title {
    font-size: 1.8rem;
  }

  .project {
    width: 95%;
  }

  /*skills */
  .skills-table-button {
    font-size: 1rem;
  }

  /*about */

  .about-me-text {
    font-size: 1.8rem;
  }
}
