*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.transition-button {
  font-size: 1.4rem;
  border-radius: 4px;
  border: none;
  outline: none;
  padding: 10px;
  width: 140px;
  cursor: pointer;
  position: absolute;
  bottom: 30px;
  text-align: center;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 100;
  text-decoration: none;
}
/*front*/
.front {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #f04544;
}

.front-text {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 3rem;
  z-index: 100;
  color: antiquewhite;
  position: absolute;

  /* background-image: -moz-linear-gradient(
    -80deg,
    rgb(236, 48, 59) 0%,
    rgb(255, 153, 102) 100%
  );
  background-image: -webkit-linear-gradient(
    -80deg,
    rgb(236, 48, 59) 0%,
    rgb(255, 153, 102) 100%
  );
  background-image: -ms-linear-gradient(
    -80deg,
    rgb(236, 48, 59) 0%,
    rgb(255, 153, 102) 100%
  ); */
}

.front-item {
  padding: 30px;

  font-size: 30px;

  color: white;
  line-height: 0.9;
  text-align: left;
}

.front-span-title {
  color: #333333;
}

.front-skills {
  color: #333333;

  text-align: center;
  position: relative;
  left: 125px;
}

.front-skills-span {
  color: white;
  display: inline-block;
  transition: all 1s;
  width: 300px;
  text-align: left;
}

.front-button {
  background-color: #fff;

  color: #333333;
}

.transition-arrow {
  margin-left: 6px;
  width: 15px;
}

/* Project */
.projects {
  width: 100%;

  position: relative;
  background-color: #fff;
}

.projects-title {
  font-size: 3.6rem;
  padding: 60px;
}

.projects-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 1400px;
  margin: 0 auto;
}

.project {
  width: 400px;
  height: 400px;

  display: flex;
  flex-direction: column;

  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
}

.empty-project {
  height: 0px;
}

.project-side {
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.project-front-side {
  background-color: white;
}

.project-back-side {
  background-color: #426b77;
  transform: rotateY(180deg);
  color: white;
  height: 100%;
  height: 353px;
  font-size: 2.4rem;
  text-align: center;
  position: relative;
}

.project-side-mobile-button {
  position: absolute;
  top: 4px;
  right: 4px;
  display: none;
}

.project-side-mobile-tap {
  display: none;
}

.project-back-side h4 {
  font-size: 2.6rem;
  text-align: center;
  margin-top: 15px;
}

.project-back-side ul {
  margin-top: 30px;
}

.back-link {
  margin-top: 30px;
}
.back-link a {
  cursor: pointer;
  margin-top: 30px;
  margin-left: 15px;
}
.back-1 {
  background-color: #009999;
}
.back-2 {
  background-color: #426b77;
}
.back-3 {
  background-color: #ef4243;
}

.back-4 {
  background-color: #6d593b;
}

.back-work {
  background-color: #be37be;
}

.project:hover .project-front-side {
  transform: rotateY(-180deg);
}

.project:hover .project-back-side {
  transform: rotateY(0);
}

.project-img {
  width: 100%;
}
.project-img img {
  width: 100%;

  height: 250px;
}

.project-desc {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  padding: 5px;
  color: #333333;
}

.project-title {
  font-size: 2.4rem;
  margin-top: 15px;
}

.project-sub-title {
  font-size: 1.6rem;
  margin-top: 15px;
  margin-bottom: 15px;
}

.skills-btn-container {
  position: static;
  padding-top: 50px;
}
.projects-button {
  background-color: #333333;
  font-size: 1.4rem;
  border-radius: 4px;
  border: none;
  outline: none;
  padding: 10px;
  width: 140px;
  cursor: pointer;

  text-align: center;

  margin: 0 auto;

  z-index: 100;
  text-decoration: none;
  color: white;
}

.workfinder {
  border-top: 1px solid black;
}

.back-3doptics {
  background: #666666;
}

/* Skills =============*/

table {
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid #666666;
  padding: 15px;
}

.skills {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #333333;
  color: #666666;
}

.skills-table-buttons {
  display: flex;
  justify-content: center;
}

.skills-table-button {
  margin: 0px 15px 0 15px;
  padding: 15px 30px 15px 30px;
  border-radius: 10px;
  outline: none;
  border: none;
  background-color: #666666;
  cursor: pointer;
}

.skills-table-button:focus {
  background-color: #ccffff;
}

.table-active {
  background-color: #ccffff;
}

.skills-table {
  text-align: center;
  font-size: 1.8rem;
  border: 10px solid #666666;
  width: 70%;
  margin: 0 auto;
  margin-top: 30px;
  color: #d0d4c8;
}

.skills-table tbody tr {
  border: 2px solid #666666;
}

.skills-button {
  background-color: #7bbce7;
  color: #333333;
}

/*about*/

.about {
  width: 100%;
  height: 100vh;
  position: relative;
  background-image: -moz-linear-gradient(
    177deg,
    rgb(153, 204, 255) 0%,
    rgb(102, 177, 214) 100%
  );
  background-image: -webkit-linear-gradient(
    177deg,
    rgb(153, 204, 255) 0%,
    rgb(102, 177, 214) 100%
  );
  background-image: -ms-linear-gradient(
    177deg,
    rgb(153, 204, 255) 0%,
    rgb(102, 177, 214) 100%
  );

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.about-me {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.about-me-bubble {
  position: absolute;
  right: 15px;
  top: 30px;
  background-color: white;
  font-size: 2rem;
  padding: 15px;
  border-radius: 20px;
}

.bubble-pointer-1 {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  right: 156px;
  top: 110px;
  background-color: white;
}

.bubble-pointer-2 {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  position: absolute;
  right: 183px;
  top: 132px;
  background-color: white;
}

.about-me-img-container {
  width: 35%;
}

.about-me-img-container img {
  width: 100%;
}

.about-me-text {
  width: 50%;
  font-size: 2.4rem;
  color: white;
}

.about-me-text li {
  list-style-type: none;
  margin-top: 30px;
}

.about-line-container {
  width: 150px;

  height: 100%;
  position: relative;
}

.about-line {
  background-color: gray;
  width: 100%;
  height: 75%;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.window-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 85%;
}
.windows {
  box-sizing: content-box;
  width: 25px;
  height: 25px;
  background-color: yellow;
  padding: 4px;
  margin-top: 15px;
  border-radius: 2px;
}

.door {
  box-sizing: content-box;
  width: 15px;
  height: 25px;
  background-color: brown;
  position: absolute;
  bottom: 0;
}

.about-form {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-form-title {
  font-size: 2.6rem;
}

.about-form form input {
  display: block;
  width: 75%;
  margin: 15px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  outline: none;
}

.form-message {
  width: 75%;
  height: 200px;
  border-radius: 10px;
  padding: 10px;
  border: none;
  outline: none;
  margin: 15px;
  margin-top: 0px;
}

.about-center-line {
  width: 1px;
  height: 100%;
  background-color: #dcc9c982;
  margin: 0 auto;
}

.about-form-status-message {
  font-size: 1.2rem;
}

.form-item-submit {
  cursor: pointer;
}
