* {
  box-sizing: border-box;
}

.success {
  transition: 2s;
}

body {
  height: 100vh;
  font-family: "Tangerine", cursive;
  background: beige;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -100;
}

h1 {
  font-size: 62px;
}

p {
  font-size: 38px;
}

.container {
  position: relative;
  top: 50%;
  max-width: 700px;
  transform: translateY(-50%);
  z-index: 100;

  text-align: center;
  margin: 0 auto;
  padding: 30px;
  border-radius: 30px;
  opacity: 0.9;
}

.invitation {
  transition: 1.2s;
}

.decoration {
  height: 30px;
  outline: none;
  border: none;
}

.decoration-submit {
  font-size: 16px;

  outline: none;
  border: none;
  padding: 10px;
}

input[type="text"] {
  background: transparent;
  border-bottom: 1px solid rgba(14, 43, 48, 0.486);
  font-size: 24px;
}
input[type="submit"] {
  background: transparent;

  cursor: pointer;
}

@media only screen and (max-width: 550px) {
  #myVideo {
    -webkit-filter: grayscale(25%);
    filter: grayscale(25%);
    transform: translateX(calc((100% - 100vw) / 2));
  }
  h1 {
    font-size: 30px;
  }

  p {
    font-size: 24px;
  }

  input[type="text"] {
    font-size: 14px;
  }

  .decoration-submit {
    font-size: 14px;
  }
}
